# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:
1.R
2.Python
3.Sql
4.Java

# Execute it as a markdown cell
**Objective:**  
- First R
- Second Python
- Third Sql
- Fourth Java

## Some of the commonly used libraries used by Data Scientists include:
1.NumPy
2.Pandas
3.Seaborn

## Execute as a markdown cell

| Data Science Tools | 
| -------------| 
| MySQL  | 
| PostgreSQL| 
| MongoDB |

## Execute as a markdown cell 

### Below are a few examples of evaluating arithmetic expressions in Python
2+2

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [14]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Nikta